<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baybay-it Web Version</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h2>Baybay-it Web</h2>
    </header>
    <canvas id="canvas" width="400" height="400"></canvas>

    <form action="/recognize" method="post" id="form">
        <input type="text" id="uri-str" name="getURI" hidden>
        <input type="submit" id="save" value="Predict">
    </form>

    <p>{{result}}</p>
    <img src="{{drawn}}" alt="">
    
    <script src="../static/js/index.js"></script>
</body>

</html>