<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baybay-it Web Version</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <h2>Baybay-it Web</h2>
    </header>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h1 class="modal-title">Baybay-it</h1>
            <h1>Instructions:</h1>
            <h4>1. Draw a baybayin character on the canvas box on the left.</h4>
            <h4>2. Click on Predict Button</h4>
            <h4>3. The result will be shown on the right side of the page</h4>
            <h4>Note: If you wanna clear out your drawing, just click on the Clear Button</h4>
        </div>
    </div>
    <div class="options">
        <form action="/recognize" method="post" id="form">
            <input type="text" id="uri-str" name="getURI" hidden required>
            <input class="btn" type="submit" id="save" value="Predict">
        </form>
        <input class="btn" type="button" id="clear" value="Clear">
    </div>
    <div class="container">
        <div class="left-components">
            <div class="canvas-container">
                <canvas id="canvas" width="500" height="500" class="drawingCanvas"></canvas>
            </div>
        </div>

        <div class="right-components">
            <div class="result-instruct">
                <h2>Result:</h2>
                <button class="help" onclick="showModal()">?</button>
            </div>
            <h1>{{result}}</h1>
            <img id="handrawn" src="{{drawn}}" alt="">
        </div>
    </div>

    <script src="../static/js/index.js"></script>
</body>

</html>